*, *::before, *::after {
    /* Browsers fill some padding and margin themselves, we don't want that */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Arial, serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: mediumpurple;
    border-radius: 5px;
}

header {
    height: 10vh;
}

header > h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

main > form {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    padding: 40px 0;
}

main > .dishes {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    padding: 40px 0;
}

main > .dishes > article {
    position: relative;
    transition: 0.4s all;
    animation-name: cardDistortion;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    will-change: transform;
}

main > .dishes > article > figure > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main > .dishes > article:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main > .dishes > article > h2 {
    position: absolute;
    top: 0;
    color: white;
    font-size: 140%;
    padding: 20px 20px;
    z-index: 9;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 250px;
    opacity: 0.6;
    background-color: black;
}

.hartje {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    transform: rotate(45deg);
    background-color: antiquewhite;
    transition: 0.5s all;
}

.hartje .topLeftCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: antiquewhite;
    transition: 0.5s all;
}

.hartje .topRightCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: antiquewhite;
    transition: 0.5s all;
}

.hartje:hover, .hartje:hover .topRightCircle, .hartje:hover .topLeftCircle {
    background-color: red;
}

@media only screen and (max-width: 700px) {
    main > .dishes {
        grid-template-columns: 1fr;
    }

    main > .dishes > article > h2 {
        font-size: 120%;
    }

    main > form {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    main > .dishes {
        grid-template-columns: 1fr 1fr;
    }

    main > .dishes > article > h2 {
        font-size: 130%;
    }
}

@media only screen and (min-width: 1300px) {
    main > .dishes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@keyframes fadeInLeft {
    0% { left: 20%; }
    90% { left: 55%; }
    100% { left: 100%; }
}

@keyframes cardDistortion {
    0% { transform: translateY(20px); opacity: 0; }
    80% { opacity: 0.9; }
    100% { transform: translateY(0); opacity: 1; }
}
