*, *::before, *::after {
    /* Browsers fill some padding and margin themselves, we don't want that */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

h4 {
    color: #FFFFFF;
    font-weight: 600;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Arial, serif;
    background-color: rgba(9, 7, 7, .9);
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #090707;
}

body::-webkit-scrollbar-thumb {
    background-color: #30A9DE;
}

/* Remove underlining with abbreviations */
abbr[title] {
    text-decoration: none !important;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
}

a:hover {
    color: #808080;
}

details a, details a:visited {
    color: #30A9DE;
    padding-bottom: 0;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}

nav ul li {
    padding: 20px 0;
    font-size: 110%;
    height: 100%;
    color: #FFFFFF;
}

nav ul li:hover {
    color: #808080;
    cursor: pointer;
}

nav ul li .fa {
    padding-right: 10px;
}


nav ul li .fa, nav ul li #count {
    display: inline-block;
}

header {
    height: 50vh;
}

header > h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    z-index: 1;
}

header > figure > img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

header > figure > .overlay {
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.8;
    background: linear-gradient(to top, #370c0c, #112c4c, #000000);

}

main {
    width: 80%;
    margin: 0 auto;
}

main > .extra-information {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main > .extra-information > p {
    display: inline-block;
    padding-right: 25px;
    font-size: 90%;
}

main > section {
    padding: 40px 0;
}

main > article > article > a > figure > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main > article > article > a > figure {
    position: relative;
}

main > .category-container > article > a > figure > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #090707;
}

main > .category-container > article > a > h3 {
    position: absolute;
    top: 0;
    color: #FFFFFF;
    font-size: 100%;
    padding: 20px 20px;
    z-index: 9;
}

main > .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
}

main > .category-container > article {
    position: relative;
    transition: 0.4s all;
    animation-name: cardDistortion;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    will-change: transform;
}

main > .category-container > article:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main > .category-container > article > button {
    z-index: 999;
    background: rgba(9, 7, 7, .8);
    border: 2px solid #808080;
    border-radius: 30px;
    padding: 15px;
    color: #FFFFFF;
    font-family: inherit;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

main > .category-container > article > button:focus {
    outline: none!important;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0 auto;
}

footer > a {
    padding-bottom: 10px;
}

/* Productpage */
main > .game-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
}

main > .game-details > figure > img {
    width: 700px;
    object-fit: cover;
    height: 300px
}

main > .game-details > section > h4 {
    padding-top: 15px;
}

main > .game-details > button {
    background: rgba(9, 7, 7, .8);
    border: 2px solid #808080;
    border-radius: 30px;
    padding: 15px;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
}

main > .game-details > button:hover {
    color: #808080;
}

main > .game-details > .reviews {
    margin-top: 100px;
}

main > .game-details > .reviews > h3 {
    margin-bottom: 20px;
}

main > .game-details > .reviews > article > .reviewDate {
    color: #808080;
    font-size: 90%;
    margin-top: 10px;
}






main > .dishes > article > figure > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main > .dishes > article:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hartje {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    transform: rotate(45deg);
    background-color: antiquewhite;
    transition: 0.5s all;
}

.hartje .topLeftCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: antiquewhite;
    transition: 0.5s all;
}

.hartje .topRightCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: antiquewhite;
    transition: 0.5s all;
}

.hartje:hover, .hartje:hover .topRightCircle, .hartje:hover .topLeftCircle {
    background-color: red;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #40e0d0;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

@media only screen and (max-width: 700px) {
    main > .dishes {
        grid-template-columns: 1fr;
    }

    main > .dishes > article > h2 {
        font-size: 120%;
    }

    main > form {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    main > .dishes {
        grid-template-columns: 1fr 1fr;
    }

    main > .dishes > article > h2 {
        font-size: 130%;
    }
}

@media only screen and (min-width: 1300px) {
    main > .dishes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@keyframes cardDistortion {
    0% { transform: translateY(20px); opacity: 0; }
    80% { opacity: 0.9; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
