* {
    /* Browsers fill some padding and margin themselves, we don't want that */
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: mediumpurple;
    border-radius: 5px;
}

header {
    height: 10vh;
}

header > h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    padding: 40px 0;
}

main > figure {
    position: relative;
    transition: 0.4s all;
}

main > figure > img {
    width: 100%;
    height: 100%;
}

main > figure:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main > figure > h1 {
    position: absolute;
    top: 0;
    color: white;
    font-size: 150%;
    padding: 20px 20px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: black;
}

@media only screen and (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 700px) and (max-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1300px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
