* {
    /* Browsers fill some padding and margin themselves, we don't want that */
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

nav {
    /* Position absolute so that the article stays at the top */
    position: absolute;
    width: 20%;
    background-color: #2980b9;
}

nav ul { list-style: none; }

nav ul li {
    font-size: 110%;
    height: 100%;
    text-align: center;
}

nav ul li:hover {
    background-color: black;
}

a, a:active, a:visited {
    text-decoration: none;
    color: white;
    padding: 20px 0;
    display: block;
    /* Je kan zonder width: 100% en height: 100% nog op de li klikken
    zodat de website je doorverwijst, op deze manier vul je de link over de hele li element. */
    width: 100%;
    height: 100%;
}

details a {
    color: blue;
    padding-bottom: 0;
}

h1 {
    /* standard size 210% so when the body font-size is adjusted,
    the h1 will scale down automatically with it */
    font-size: 210%;
    font-weight: 400;
    padding-bottom: 20px;
}

p {
    line-height: 1.55;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

figcaption {
    margin-bottom: 20px;
    color: #777;
}

.container {
    width: 40%;
    padding: 20px;
    /* margin 0 on top and on the right and left have it position automatically in the 40% with.
    This centers the content. */
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .container { width: 50% }
}

/* A standard breakpoint 768 for smaller devices - https://getbootstrap.com/docs/5.0/layout/breakpoints/*/
@media only screen and (max-width: 768px) {
    .container { width: 90% }

    nav {
        position: relative;
        width: 100%;
        height: 20%;
        background-color: #2980b9;
    }

    nav ul li {
        display: inline-block;
        font-size: 100%;
        width: 32%;
        height: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .container { width: 90% }

    nav ul li {
        font-size: 90%;
    }
}
