*, *::before, *::after {
    /* Browsers fill some padding and margin themselves, we don't want that */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #30A9DE;
}

h4 {
    color: #E53A40;
    font-weight: 600;
}

figcaption {
    margin-top: 5px;
    color: #777;
    font-size: 80%;
    word-break: break-all;
    padding-right: 45px;
}

button:focus {
    outline: none!important;
}

label {
    color: #ffffff;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Arial, serif;
    background-color: rgba(9, 7, 7, .9);
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: #090707;
}

body::-webkit-scrollbar-thumb {
    background-color: #30A9DE;
}

/* Remove underlining with abbreviations */
abbr[title] {
    text-decoration: none !important;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 100%;
    word-break: break-all;
}

a:hover {
    color: #808080;
}

details a, details a:visited {
    color: #30A9DE;
    padding-bottom: 0;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}

nav ul li {
    padding: 20px 0;
    font-size: 110%;
    height: 100%;
    color: #FFFFFF;
}

nav ul li:hover {
    color: #808080;
    cursor: pointer;
}

nav ul li .cartIcon {
    padding-right: 10px;
}

nav ul li .cartIcon, nav ul li #count {
    display: inline-block;
}

header {
    height: 50vh;
}

header > h1 {
    color : #30A9DE;
    font-size : 269%;
    font-weight : bold;
    text-transform : uppercase;
    animation : fadeInTitle 1s linear;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

header > h2 {
    position : absolute;
    left: 57%;
    top: 25vh;
    color : #FFFFFF;
    font-size : 175%;
    animation : fadeInSubtitle 1s linear;
    transform: translateX(-50%);
    z-index: 9;
}

header > figure > img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

header > figure > .overlay {
    position: absolute;
    width: 100%;
    height: 50vh;
    opacity: 0.8;
    background: linear-gradient(to top, #370c0c, #112c4c, #000000);
}


main {
    width: 80%;
    margin: 0 auto;
}

main > section {
    padding-top: 40px;
    padding-bottom: 20px;
    animation: slide-in-left 2.5s linear;
    animation-iteration-count: 1;
}

main > article > article > a > figure > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

main > article > article > a > figure {
    position: relative;
}

main > .games > article > a > figure > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #090707;
}

main > .games > article > a > h3 {
    position: absolute;
    top: 0;
    color: #FFFFFF;
    font-size: 100%;
    padding: 20px 20px;
    z-index: 9;
}

main > article > article > a > section {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

main > article > article > a > section > h4 {
    color: #FFFFFF;
    font-size: 110%;
}

main > article > article > a > section > h5 > s {
    color: #E53A40;
}

main > .games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
}

main > .games > article {
    position: relative;
    transition: 0.4s all;
    animation: slide-in-bottom 2s linear;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-iteration-count: 1;
    will-change: transform;
    display: block;
}

main > .games > article:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main > .games > article > button {
    z-index: 9;
    background: rgba(9, 7, 7, .8);
    border: 2px solid #808080;
    border-radius: 30px;
    padding: 10px;
    color: #FFFFFF;
    font-family: inherit;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
}

main > .games > article > button:hover {
    transform: scale(1.1);
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer > a {
    padding-bottom: 10px;
}

/* Productpage */
main > .game-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
    animation: slide-in-bottom 1s linear;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-iteration-count: 1;
}

main > .game-details > figure > img:hover {
    height: 95%;
}

main > .game-details > figure > img {
    width: 90%;
    object-fit: cover;
    height: 500px;
    transition: all 1.5s;
}

main > .game-details > section > h4 {
    padding-top: 15px;
}

main > .game-details > button, main > section > #payBtn {
    background: rgba(9, 7, 7, .8);
    border: 2px solid #808080;
    border-radius: 30px;
    padding: 19px;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.25s;
}

main > .game-details > button:hover, main > section > #payBtn:hover {
    transform: scale(1.1);
}

main > section > #payBtn {
    margin-top: 20px;
}

main > .game-details > button:hover {
    color: #808080;
}

main > .reviews {
    margin-top: 100px;
}

main > .reviews > article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main > .reviews > article > article {
    margin-top: 30px;
    padding-right: 100px;
}

main > .reviews > article > article > .reviewDate {
    color: #808080;
    font-size: 90%;
    margin-top: 10px;
}

main > .game-details > .prices {
    position: relative;
}

main > .game-details > .prices > p:first-child {
    background-color: #E53A40;
    padding: 20px;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    position: absolute;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    animation: colorInterpolation 5s linear infinite;
}

main > .game-details > .prices > p:last-child {
    padding: 20px;
    color: #808080;
    font-size: 85%;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
    border: 1px solid #808080;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    text-align: right;
    position: absolute;
    left: 40%;
    width: 50%;
}

/* Filter container */
main > form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 20px;
}

main > form > section {
    animation: slide-in-right 2s ease;
    animation-iteration-count: 1;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #30A9DE;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #30A9DE;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

main > section > #payedTitle, main > section > #payedSubtitle {
    display: none;
}

main > section > #payedTitle {
    color : #30A9DE;
    font-size : 269%;
    font-weight : bold;
    text-transform : uppercase;
}

main > section > #payedSubtitle {
    color : #ffffff;
    font-size : 200%;
    font-weight : bold;
}

@media only screen and (max-width: 700px) {
    header > h1 {
        font-size: 150%;
    }
    header > h2 {
        font-size: 110%;
        top: 22vh
    }

    main > .games {
        grid-template-columns: 1fr;
    }

    main > .game-details {
        display: grid;
        grid-template-columns: 1fr;
    }

    main > .game-details > button {
        margin-top: 60px;
    }

    main > .reviews > article {
        display: grid;
        grid-template-columns: 1fr;
    }

    main > .reviews > article > article {
        padding-right: 20px;
    }

    main > .game-details > .prices > p:first-child {
        width: 60%;
    }

    main > .game-details > .prices > p:last-child {
        width: 60%;
    }

    main > form {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    main > section > #payedTitle {
        font-size : 200%;
    }

    main > section > #payedSubtitle {
        font-size : 175%;
    }

    main > .game-details > figure > img {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 997px) {
    main > .reviews > article {
        display: grid;
        grid-template-columns: 1fr;
    }

    main > .games {
        grid-template-columns: 1fr 1fr;
    }

    main > form {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    main > .game-details > .prices > p:first-child {
        width: 60%;
    }

    main > .game-details > .prices > p:last-child {
        width: 60%;
    }

    main > .game-details > button {
        margin-top: 60px;
    }

    main > .game-details {
        grid-template-columns: 1fr;
    }

    main > .game-details > figure > img {
        width: 100%;
    }
}

@keyframes card-fadein {
    0% { transform: translateX(24px); opacity: 0; }
    90% { opacity: 0.9 }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

@keyframes fadeInTitle{
    0% { opacity : 0; transform: translateX(-250px); }
    100% { opacity : 1; transform: translateX(-50%); }
}

@keyframes fadeInSubtitle{
    0% { opacity : 0; transform: translateX(-32px); }
    100% { opacity : 1; transform: translateX(-50%); }
}

@keyframes fadeInOutTitle {
    0% { opacity : 0; transform: translate(-16px, 0); }
    20% { opacity : 1; transform: translate(0, 0); }
    65% { opacity : 1; transform: translate(0, 0); }
    80% { opacity : 0; transform: translate(16px, 0); }
    100% { opacity : 0; transform: translate(16px, 0); }
}

@keyframes fadeInOutSubtitle{
    0% { opacity : 0; transform: translate(-32px, 0); }
    18% { opacity : 1; transform: translate(0, 0); }
    64% { opacity : 1; transform: translate(0, 0); }
    82% { opacity : 0; transform: translate(32px, 0); }
    100% { opacity : 0; transform: translate(32px, 0); }
}

@keyframes colorInterpolation {
    0% {
        background-color: #E53A40;
    }
    50% {
        background-color: #30A9DE;
    }
    100% {
        background-color: #E53A40;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(2000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
